<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiateng">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 位置信息权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".config.MainApplicationConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.EvaluateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PasswordModifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ModifyUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressSetUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SingupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaidResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaidActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GoodsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CollectActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>